@font-face {
  font-family: Poppins;
  src:
    local(Poppins),
    url("./../assets/fonts/Poppins-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src:
    local(Poppins),
    url("./../assets/fonts/Poppins-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Poppins;
  src:
    local(Poppins),
    url("./../assets/fonts/Poppins-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: Inter;
  src:
    local(Inter),
    url("./../assets/fonts/Inter-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: Inter;
  src:
    local(Inter),
    url("./../assets/fonts/Inter-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: Inter;
  src:
    local(Inter),
    url("./../assets/fonts/Inter-ExtraBold.ttf");
  font-weight: 800;
}