$text-color: #838383;
$base-color: #707070;
$base-color--light: #505050;
$additional-color: #92392B;
$white: #fff;

$breakpoint-xxl: 1024px;
$breakpoint-xl: 864px;
$breakpoint-md: 597px;
$breakpoint-sm: 320px;