@include size-xl {
  .header {
    position: relative;

    &__burger {
      position: relative;
      display: block;
      height: 40px;
      width: 40px;

      cursor: pointer;

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;

        background-color: $base-color;
      }

      &::before {
        box-shadow: 0 9px 0 $base-color;

        transform: translateY(10px);
      }

      &::after {
        transform: translateY(28px);
      }

      &--animation {
        &::before {
          animation: ease .3s elem-before-reverse forwards;
        }
  
        &::after {
          animation: ease .3s elem-after-reverse forwards;
        }
      }

      &--active {
        &::before {
          top: 0;
  
          box-shadow: none;
          transform: translate(0, 20px) rotate(45deg);

          animation: ease .3s elem-before forwards;
        }

        &::after {
          top: 0;

          transform: translate(0, 20px) rotate(-45deg);

          animation: ease .3s elem-after forwards;
        }
      }
    }

    &__nav {
      right: -100%;
      
      overflow-y: auto;

      transition: 0.8s;

      &--active {
        right: 0;

        transition: 0.4s;
      }
    }
  }
}

@include size-md {
  .header {
    padding-top: 25px;
    padding-bottom: 35px;
  }
}